.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.cart-container{
    background-color: rgba(255, 125, 19, 0.712);
    border-radius: 10px 0 0 10px;
    height: fit-content;
}
.choose-btn{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    margin-top: 30px;
    display: block;
}
.choose-again-btn{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    margin-top: 10px;
}