.shop-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 50px;
}
.cart-container{
    background-color: rgba(255, 125, 19, 0.712);
    border-radius: 10px 0 0 10px;
    height: fit-content;
}
.choose-btn{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    margin-top: 30px;
    display: block;
}
.choose-again-btn{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    margin-top: 10px;
}

/* Responsive for mobile device */
@media only screen and (max-width: 360px){
    .shop-container{
        grid-template-columns: 1fr 1fr;
    }
    .cart-container{
        border-radius: 0;
    }
    .product-container{
       display: block;
       padding: 20px;
    }
}

/* Responsive for tablet device */
@media only screen and (max-width: 768px){
    .shop-container{
        display: block;
    }
    .cart-container{
        border-radius: 0;
    }
    .product-container{
        grid-template-columns: repeat(2, 1fr);
    }
}